<div class="list">
  <mat-form-field align="center" >
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="فیلتر">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="customerId">
      <th mat-header-cell *matHeaderCellDef> شناسه مشتری </th>
      <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>
    <!--UserName Column -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef> شناسه کالا </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>
    <!--UserName Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> آدرس </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <!--UserName Column -->
    <ng-container matColumnDef="sendStat">
      <th mat-header-cell *matHeaderCellDef> وضعیت ارسال </th>
      <td mat-cell *matCellDef="let element"> {{element.sendStat}} </td>
    </ng-container>


    <ng-container matColumnDef="setting">
      <th mat-header-cell *matHeaderCellDef> تنظیمات </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" matTooltip="حذف" (click)="remove(element.name)"><i class="fa fa-trash"></i> </button>
        <button mat-icon-button color="success" matTooltip="ویرایش" (click)="edit()"><i class="fa fa-edit"></i> </button>
        <mat-slide-toggle matTooltip="تغییر وضعیت"></mat-slide-toggle>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
