mat-form-field {
  width: 300px;
  font-family: iransans, serif;
}
mat-card-title {
  padding-left: 200px;
}
mat-card {
  font-family: iransans, serif;
}
button {
  font-family: iransans, serif;
}
#submit {
  border: 1px solid blue;
}
