<mat-toolbar role="heading" >


  <span>
    <nav mat-tab-nav-bar>

      <a mat-tab-link
         (click)="activeLink = 'list'"
         [active]="activeLink == 'list'"
         routerLink="/products/"
         routerLinkActive="active"
         style="text-decoration: none"
      >لیست محصولات</a>

      <a mat-tab-link
         (click)="activeLink = 'Insert'"
         [active]="activeLink == 'Insert'"
         routerLink="/products/insert"
         style="text-decoration: none"
      >اضافه کردن محصول</a>

    </nav>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
