<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
          fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="70%" style="margin: auto">
  <br>
  <br>
  <mat-card-title>افزودن کاربر</mat-card-title>
  <br>
  <form #f="ngForm" >
    <mat-card-content align="center" fxLayout="column">

      <mat-form-field>
        <input matInput placeholder="نام" ngModel name="name" #name="ngModel" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="نام کاربری" ngModel name="username" #username="ngModel" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="گذرواژه" ngModel name="password" #pass="ngModel" required minlength="4" maxlength="12">
        <mat-error *ngIf="!pass.valid && pass.touched">کلمه عبور باید دارای حداقل ۴ و حداکثر ۱۲ کاراکتر باشد</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="تلفن" ngModel name="phone" #ph="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="ایمیل" ngModel name="email" #email="ngModel" email>
        <mat-error *ngIf="!email.valid">یک ایمیل معتبر وارد کنید( مانند :a@yahoo.com )</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-stroked-button color="primary"
              style="border: 1px solid blue"
              [disabled]="!f.valid"
      >ثبت</button>
      <button mat-stroked-button color="warn"
              id="cancel"
              style="border: 1px solid #FE4A08; color:#FE4A08;  margin-right: 3px"
      >انصراف</button>
    </mat-card-actions>
  </form>
</mat-card>
