<mat-toolbar role="heading" >


  <span>
    <nav mat-tab-nav-bar>

      <a mat-tab-link
         (click)="activeLink = 'list'"
         [active]="activeLink == 'list'"
         routerLink="/warranties/"
         routerLinkActive="active"
         style="text-decoration: none"
      >لیست گارانتی ها</a>

      <a mat-tab-link
         (click)="activeLink = 'Insert'"
         [active]="activeLink == 'Insert'"
         routerLink="/warranties/Insert"
         style="text-decoration: none"
      >اضافه کردن گارانتی</a>

    </nav>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
