
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar style="background-color: #0F637D; color: white" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name"> مدیریت </h1>
  </mat-toolbar>

  <mat-sidenav-container dir="rtl" class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav  #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item style="text-align: right" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}" routerLink="/"><i class="fa fa-home" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i> داشبورد </a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/products"><i class="fa fa-shopping-basket" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>محصولات</a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/parts"><i class="fa fa-th-list" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>دسته بندی ها</a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/users"><i class="fa fa-user-circle" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>کاربران</a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/customers"><i class="fa fa-users" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>مشتریان</a>


        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-shopping-bag" style="  padding-left: 30px;padding-right: 20px; color: dimgray;"></i>فروش
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/orders">سفارشات</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/discounts">تخفیفات</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/send-ways">روش های ارسال</a>

          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/banners"><i class="fa fa-file-image-o" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>بنرها</a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/formmakers"><i class="fa fa-file-image-o" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>فرم ساز</a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/sliders"><i class="fa fa-sticky-note" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>اسلایدر ها</a>


        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-file" style="  padding-left: 30px;padding-right: 20px; color: dimgray;"></i>برگه ها
              </mat-panel-title>
            </mat-expansion-panel-header>

            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/about">درباره ما</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/contact">تماس با ما</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/rules">قوانین</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/org-warranty">ضمانت اصل بودن</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/warranty">ضمانت</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/pay">پرداخت در محل</a>
            <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/support">پشتیبانی</a>

          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/comments"><i class="fa fa-comment-o" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>نظرات</a>
        <a mat-list-item style="text-align: right"  routerLinkActive="active" routerLink="/warranties"><i class="fa fa-check-circle" style="  padding-left: 30px;padding-right: 30px; color: dimgray;"></i>گارانتی ها</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



