a,button,h1,mat-panel-title {
  font-family: iransans, serif;
}

a:active {
  text-decoration:none;
  background-color: darkslategray;
}

a:hover {
  color: #FE4A08;
}
.example-container {
  direction: rtl;
  text-align: right;
  display: flex;
  font-family: iransans, serif;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  direction: rtl;
  text-align: right;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  direction: rtl;
  text-align: right;
  margin-left: 2px;
}

.example-sidenav-container {
  direction: rtl;
  text-align: right;
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  direction: rtl;
  text-align: right;
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.ListIcons{
  padding-left: 20px;
  padding-right: 30px;
  color: dimgray;
}

