<mat-card class="card">
  <mat-card-header>
    <mat-card-title>عنوان : {{title}}</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <h5>متن:</h5>
    <p>
      {{body}}
    </p>
    <h5>توضیحات:</h5>
    <p>
      {{des}}
    </p>
    <h5>کلید واژه ها:</h5>
    <p *ngFor="let keyword of keywords">
      {{keyword}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-mini-fab color="primary"
            matTooltip="ویرایش"
            (click)="onClick()"><i class="fa fa-edit"></i></button>
  </mat-card-actions>
</mat-card>

